<h2>Facebook Posts</h2>
<hr>
<h4>Search for Posts:</h4>
<%= turbo_frame_tag "search" do %>
   <h3><%= link_to "Search",search_path,class:"btn btn-info" %></h3>
<% end %>


<ol class="posts">
<%= turbo_frame_tag "posts" do  %>
 <% @friends.each do |friend| %>
   <% @posts.each do |post| %>
    <% if post.user_id == friend.other_user_id %>
      <%= render post %>
    <% end %>
   <% end %>
 <% end %>

 <% @posts.each do |post| %>
    <% if post.user_id == current_user.id %>
      <%= render post %>
    <% end %>
 <% end %>
<% end %>
</ol>